.contactPage {
  width: 100vw;
  height: 100vh;
  background-color: #38a1f7;
}

.contactHeading {
  font-family: "Lemonada";
  color: white;
  font-size: 6.5vh;
  padding-top: 3vh;
  margin: 0;
}

.sendButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

